/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #81b3d2;
  --basic-cyan: #669EC0;
  --basic-azure:#5496BD;
  --basic-gray: #eeeeee;
  --basic-light-grey: #f2f2f2;
  --basic-light-black: #333333;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-dark-grey: #666666;
  --basic-grey-light: #EBEBEB;
  --basic-grey-dark: #e5e5e5;
  --basic-extra-grey: #ababab;
  --basic-extra-light-grey: #cfcfcf;
  --basic-grayscale: #BDBBBC;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  background-position: top center;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.main-navigation {
  position: relative;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}

.main-header-logo {
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  margin-left: -70px;
  left: 50%;
  top: 0;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li {
  width: 227px;
}

.site-navigation li:nth-child(4n+2){
  margin-right: auto;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}

.site-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus{
  color: var(--basic-blue);
}

.site-navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active,
.active:hover,
.active:focus,
.active:active {
  color: var(--basic-light-brown);
  pointer-events: none;
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
}

.shadow {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
          box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

/* Promo */
.promo {
  background-color: var(--basic-light-brown);
  background-image:
    url("../img/shape.svg"),
    url("../img/rocks-of-sedona.jpg");
  background-position: 0% 100.3%, center;
  background-repeat: no-repeat;
  padding-top: 77px;
  padding-bottom: 81px;
}

.promo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Features */

.features-header {
  margin: 44px auto 44px auto;
  width: 470px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.features-text {
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
  color: var(--basic-light-black);
  text-align: center;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-item {
  text-align: center;
}

.features-list-town {
  max-width: 1200px;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.features-list-recommendation {
  position: relative;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-item-bridge {
  max-width: 1200px;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.features-item h3,
.features-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-item p {
  color: var(--basic-light-black);
}

.features-item-blue {
  padding: 26px 49px 39px 50px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-item-blue h3,
.features-item h3 {
  margin-bottom: 25px;
}

.features-item h4 {
  margin-top: 24px;
}

.features-item-blue h3,
.features-wrap h3 {
  padding: 0 75px 0 76px;
}

.features-item-blue p {
  color: var(--basic-white);
}

.features-wrap {
  max-width: 280px;
  padding: 25px 60px 40px 60px;
  background-color: var(--basic-gray);
  text-align: center;
}

.features-item-blue p {
  margin-top: 27px;
}

.features-wrap p {
  margin-top: 24px;
}

.features-item .house,
.features-item .box,
.features-item .food {
  padding: 56px 50px 68px 50px;
}

.house::before {
  content: "";
  height: 77px;
  width: 75px;
  display: block;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: auto;
  margin-right: auto;
}

.food::before {
  content: "";
  height: 77px;
  width: 75px;
  display: block;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: auto;
  margin-right: auto;
}

.house p,
.box p,
.food p{
  padding-bottom: 0;
  padding-top: 0;
}

.box::before {
  content: "";
  height: 77px;
  width: 64px;
  display: block;
  background-image: url("../img/box.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: auto;
  margin-right: auto;
}


/* Search-hotel */
.search-hotel {
  text-align: center;
}

.search-question {
  margin: 55px auto 4px auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.search-date {
  margin: 34px auto 44px auto;
  width: 435px;
  line-height: 24px;
  color: var(--basic-light-black);
}

.search-link {
  display: block;
  padding: 30px 125px 30px 125px;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-button {
  background-color: var(--basic-light-brown);
  margin-left: auto;
  margin-right: auto;
  width: 568px;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--basic-brown);
}

.search-button:active{
  background-color: var(--basic-dark-brown);
}

.search-link:hover,
.search-link:focus {
  color: #ffffff;
}

.search-link:active {
  opacity: 0.3;
}

/* Form */
.form {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.form-search {
  position: absolute;
  top: 0;
  left: 316px;
  width: 568px;
  background-color: var(--basic-white);
  text-align: left;
}

.form-body {
  margin: 0;
  padding: 55px 55px 55px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
}

.form-date {
  width: 346px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  background-color: var(--basic-light-grey);
  padding-left: 14px;
  padding-right: 35px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

input::-moz-placeholder { 
  color: var(--basic-black); 
  font-weight: 700;

}
input::-webkit-input-placeholder { 
  color: var(--basic-black); 
  font-weight: 700;
}

input::placeholder { 
  color: var(--basic-black); 
  font-weight: 700;
}

.form-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-calendar {
  position: absolute;
  background-image: url("../img/calendar.svg");
  top: 7px;
  right: 8px;
  width: 21px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.humans {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-number {
  margin-left: 36px;
  width: 114px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  background-color: var(--basic-light-grey);
  text-align: center;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
}

.input-number-child {
  margin-left: 23px;
}

.sign {
  background-color: transparent;
  border: none;
  position: absolute;
}

.minus-adult {
  background-image: url("../img/minus.svg");
  top: 17.5px;
  left: 125px;
  width: 12px;
  height: 3px;
}

.plus-adult {
  background-image: url("../img/plus.svg");
  top: 13.5px;
  left: 200px;
  width: 11px;
  height: 11px;
}

.minus-child {
  background-image: url("../img/minus.svg");
  top: 17.5px;
  right: 88px;
  width: 12px;
  height: 3px;
}

.plus-child {
  background-image: url("../img/plus.svg");
  top: 13.5px;
  right: 15px;
  width: 11px;
  height: 11px;
}

.search-button-form {
  margin-top: 23px;
  padding: 16px 0 18px 0;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
}

.form-date:hover,
.input-number:hover {
  background-color: var(--basic-grey-light);
}

.form-date:focus,
.input-number:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey-dark);
}

.input-number:active {
  background-color: var(--basic-white);
}

.plus-child:hover,
.plus-adult:hover {
  background-image: url("../img/plus-black.svg");
  border: none;
}

.plus-child:focus,
.plus-adult:focus {
  background-image: url("../img/plus-blue.svg");
  border: none;
}

.minus-child:hover,
.minus-adult:hover {
  background-image: url("../img/minus-black.svg");
  border: none;
}

.minus-child:focus,
.minus-adult:focus {
  background-image: url("../img/minus-blue.svg");
  border: none;
}

.form-calendar:hover {
  background-image: url("../img/calendar-black.svg");
  border: none;
}

.form-calendar:focus {
  background-image: url("../img/calendar-blue.svg");
  border: none;
}

.search-button-form:hover {
  background-color: var(--basic-cyan);
}

.search-button-form:active {
  background-color: var(--basic-azure);
  color: rgba(255, 255, 255,0.3);
  border: none;
}
/* Footer */

.main-footer {
  width: 1054px;
  z-index: 1;
  margin: 0 auto 0 auto;
  padding: 35px 73px 36px 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 21px;
  line-height: 26px;
}

.footer-index {
  margin-top: -120px;
}

.footer-social {
  width: 400px;
}

.social-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  list-style: none;
  text-align: center;
  justify-self: center;
}

.social-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 46px;
  background-color: var(--basic-blue);
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 46px;
}

.social-list li:hover,
.social-list li:focus {
  background-color: var(--basic-cyan);
}

.social-list li:active {
  background-color: var(--basic-azure);
}
.social-list li:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-contacts {
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  text-align: center;
}

.footer-hashtag {
  margin-top: -15px;
  margin-bottom: 11px;
}

.footer-copyright {
  width: 327px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.footer-copyright a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
  fill: var(--basic-blue);
}

.footer-copyright a:active path {
  fill: var(--basic-grayscale);
}

.author {
  margin-right: 8px;
}
/* Catalog */

/* Choice */
.choice {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  background-image: url(../img/rocks-catalog.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.choice-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.choice-filters {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 27px;
}

.choice-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2px;
}

.choice-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 254px 1fr 2fr;
  grid-template-columns: 254px 1fr 2fr;
}

.choice-item {
  background-color: transparent;
  margin-bottom: 25px;
}

.choice-item label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 39px;
  margin-top: 14px;
}

.filter-input-checkbox:not(:disabled) + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");

}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:disabled+label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked:disabled+label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.choice-filter-price {
  margin-left: auto;
  width: 317px;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
  background-color: transparent;
}

.range-controls .scale {
  margin-top: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255,0.3);
  Width: 317px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 3px;
  height: 3px;
  padding: 0;
  border: 7px solid var(--basic-white);
  background-color: var(--basic-extra-grey);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--basic-extra-light-grey);
          box-shadow: 0 2px 1px 0 var(--basic-extra-light-grey);
  cursor: pointer;
}

.toggle:focus,
.toggle:hover {
  width: 5px;
  height: 5px;
}

.range-controls .toggle-max {
  left: 252px;
}

.choice-price {
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 313px;
  text-align: center;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.wrap {
  content: "";
  position: absolute;
  left: 156px;
  top: 5px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.number-to {
  margin-left: 2px;
  padding-top: 6px;
  padding-bottom: 9px;
  background-color: transparent;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.number-from {
  margin-left: -1px;
  padding-top: 7px;
  padding-bottom: 9px;
  background-color: transparent;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-submit-show {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Search-results */
.search-results {
  margin-top: 10px;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-results-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-results-subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-top: 20px;
}

.search-results-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 46px;
}

.search-results-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 240px;
  margin-left: 40px;
  margin-top: 17px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.search-results-item {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}

.item-active {
  color: var(--basic-blue);
  border: none;
  opacity: 1;
}

.search-results-item:focus,
.search-results-item:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.search-results-item:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

.found {
  margin-left: auto;
  margin-top: 28.5px;
}

.found-list {
  margin: 0;
  padding: 0;
  width: 34px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.found-up {
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.found-down {
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down.svg");
  background-repeat: no-repeat;
}

.found-up:focus,
.found-up:hover{
  background-image: url("../img/icon-up-hover.svg");
}

.found-down:focus,
.found-down:hover {
  background-image: url("../img/icon-down-hover.svg");
}

.found-up:active {
  background-image: url("../img/icon-up-active.svg");
}

.found-down:active {
  background-image: url("../img/icon-down-dir.svg");
}

.found-down,
.found-active {
  background-image: url("../img/icon-down-dir.svg");
}


/* Hotel */
.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-item {
  margin-top: 29px;
  padding: 0 71px 0 73px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 164px 4fr 111px;
  grid-template-columns: 164px 4fr 111px;
  border-top: 1px solid var(--basic-grey-dark);
}

.hotel-item:first-child {
  margin-top: 0;
}

.hotel-item:last-child {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--basic-grey-dark);
}

.img-size {
  width: 135px;
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: var(--basic-brown);
}

.promo-welcome {
  width: 456px;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
}

.hotel-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.holel-information {
  margin-top: 7px;
}

.type-of-accommodation {
  display: block;
  margin: 0;
}

.hotel-price {
  display: block;
  margin: 0;
}

.hotel-price-reserve {
  margin-left: 5px;
}

.informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -10px;
}

.hotel-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-title:focus,
.hotel-title:hover {
  color: var(--basic-blue);
}

.hotel-title:active {
  opacity: 0.3;
}

.type-of-accommodation,
.hotel-price {
  color: var(--basic-light-black);
}

.rating {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.star {
  width: 19px;
  height: 17px;
  background-image: url("../img/star.svg");
}

.rating-star {
  margin-left: auto;
}

.hotel-rating {
  display: block;
  padding-bottom: 5px;
  padding-top: 2px;
  margin: 0;
  text-align: center;
  width: 110px;
  background-color: var(--basic-light-grey);
  color: var(--basic-dark-grey);
}

/* Button */
.button {
  font: inherit;
  border: none;
}

.button-submit {
  padding-top: 5px;
  padding-bottom: 6px;
  width: 137px;
  margin-left: -12px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 3px;
}

.button-submit:focus,
.button-submit:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-info {
  width: 110px;
  display: block;
  margin-top: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
}

.button-info:focus,
.button-info:hover {
  background-color: var(--basic-cyan);
}

.button-info:active {
  background-color: var(--basic-azure);
  opacity: 0.3;
}

.button-reserve {
  width: 142px;
  display: block;
  margin-top: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-weight: 700;
  display: block;
  text-align: center;
  width: 142px;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: var(--basic-brown);
}

.button-reserve:active {
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}

.button-info .button-reserve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.wrapper {
  margin-right: 73px;
  margin-left: 73px;
}
