/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #81b3d2;
  --basic-cyan: #669EC0;
  --basic-azure:#5496BD;
  --basic-gray: #eeeeee;
  --basic-light-grey: #f2f2f2;
  --basic-light-black: #333333;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-dark-grey: #666666;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.main-navigation {
  display: grid;
  grid-template-columns: 1fr 138px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-header-logo {
  justify-self: center;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus{
  color: var(--basic-blue);
}

.site-navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active {
  color: var(--basic-light-brown);
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Promo */
.promo {
  background-color: var(--basic-light-brown);
  background-image: url(../img/rocks-of-sedona.jpg);
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 509px;
}


/* Features */

.features-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.features-text {
  line-height: 26px;
  color: var(--basic-light-black);
  text-align: center;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 51px;
}

.features-item {
  text-align: center;
}

.features-list-town {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.features-list-recommendation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;
}

.features-item-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.features-item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-rows: 256px;
}

.features-item h3,
.features-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-item p {
  color: var(--basic-light-black);
}

.features-item-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-item-blue p {
  color: var(--basic-white);
}

.features-wrap {
  background-color: var(--basic-gray);
}

/* Search-hotel */
.search-hotel {
  text-align: center;
}

.search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.search-date {
  line-height: 24px;
  color: var(--basic-light-black);
}

.search-link {
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-button {
  background-color: var(--basic-light-brown);
}

.search-button:hover,
.search-button:focus {
  background-color: var(--basic-brown);
}

.search-button:active{
  background-color: var(--basic-dark-brown);
}

.search-link:hover,
.search-link:focus {
  color: #ffffff;
}

.search-link:active {
  opacity: 0.3;
}

/* Footer */

.main-footer {
  background-color: transparent;
  font-size: 21px;
  line-height: 26px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px;
}

.social-list {
  list-style: none;
  text-align: center;
  justify-self: center;
}

/* Catalog */

/* Choice */
.choice {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  background-image: url(../img/rocks-catalog.jpg);
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 217px;
}

.choice-title {
  font-size: 16px;
  font-weight: 700;
}

.choice-list {
  list-style: none;
}

.choice-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 217px;
}

.choice-item {
  background-color: transparent;
}

/* Search-results */
.search-results-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-results-subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.search-results-list {
  list-style: none;
}

.search-results-item {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}

.item-active {
  color: var(--basic-blue);
  border: none;
  opacity: 1;
}

.search-results-item:focus,
.search-results-item:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.search-results-item:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

/* Hotel */
.hotels-list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 540px;
  margin: 0;
  padding: 0;
}

.hotel-item {
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.hotel-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-title:focus,
.hotel-title:hover {
  color: var(--basic-blue);
}

.hotel-title:active {
  opacity: 0.3;
}

.type-of-accommodation,
.hotel-price {
  color: var(--basic-light-black);
}

.hotel-rating {
  background-color: var(--basic-light-grey);
  color: var(--basic-dark-grey);
}

/* Button */
.button {
  font: inherit;
  border: none;
}

.button-submit {
  background-color: transparent;
}

.button-submit:focus,
.button-submit:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-info {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.button-info:focus,
.button-info:hover {
  background-color: var(--basic-cyan);
}

.button-info:active {
  background-color: var(--basic-azure);
  opacity: 0.3;
}

.button-reserve {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: var(--basic-brown);
}

.button-reserve:active {
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}
