/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #81b3d2;
  --basic-cyan: #669EC0;
  --basic-azure:#5496BD;
  --basic-gray: #eeeeee;
  --basic-light-grey: #f2f2f2;
  --basic-light-black: #333333;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-dark-grey: #666666;
  --basic-grey-light: #EBEBEB;
  --basic-grey-dark: #e5e5e5;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  background-position: top center;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.main-navigation {
  position: relative;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}

.main-header-logo {
  justify-self: center;
  position: absolute;
  margin-left: -70px;
  left: 50%;
  top: 0;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li {
  width: 227px;
}

.site-navigation li:nth-child(4n+2){
  margin-right: auto;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}

.site-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus{
  color: var(--basic-blue);
}

.site-navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active {
  color: var(--basic-light-brown);
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
}

.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

/* Promo */
.promo {
  background-color: var(--basic-light-brown);
  background-image:
    url("../img/shape.svg"),
    url("../img/rocks-of-sedona.jpg");
  background-position: 0% 100.3%, center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 509px;
}

.promo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 76.35px;
}

/* Features */

.features-header {
  margin: 41.5px auto 46px auto;
  width: 470px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.features-text {
  padding-right: 341px;
  padding-left: 340px;
  line-height: 26px;
  color: var(--basic-light-black);
  text-align: center;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 51px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-item {
  text-align: center;
}

.features-list-town {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.features-list-recommendation {
  position: relative;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-item-bridge {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.features-item h3,
.features-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-item p {
  padding-top: 11px;
  color: var(--basic-light-black);
}

.features-item-blue {
  padding: 29px 49px 40px 50px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-item-blue h3,
.features-wrap h3 {
  padding: 0 75px 4px 74px;
}

.features-item-blue p {
  color: var(--basic-white);
}

.features-wrap {
  padding: 26px 70px 54px 70px;
  background-color: var(--basic-gray);
  text-align: center;
}

.features-item-blue p,
.features-wrap p {
  padding-top: 9px;
}

.features-item .house,
.features-item .box,
.features-item .food {
  padding: 0 50px 81px 50px;
}

.house::before {
  content: "";
  height: 77px;
  width: 75px;
  display: block;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 113px 1px 113px;
}

.food::before {
  content: "";
  height: 77px;
  width: 75px;
  display: block;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 113px 1px 113px;
}

.house p,
.box p,
.food p{
  padding-bottom: 0;
  padding-top: 0;
}

.box::before {
  content: "";
  height: 77px;
  width: 64px;
  display: block;
  background-image: url("../img/box.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 113px 1px 113px;
}


/* Search-hotel */
.search-hotel {
  text-align: center;
}

.search-question {
  margin: 58px auto 4px auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.search-date {
  margin: 36px auto 43px auto;
  width: 435px;
  line-height: 24px;
  color: var(--basic-light-black);
}

.search-link {
  display: block;
  padding: 30px 125px 30px 125px;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-button {
  background-color: var(--basic-light-brown);
  margin-left: auto;
  margin-right: auto;
  width: 568px;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--basic-brown);
}

.search-button:active{
  background-color: var(--basic-dark-brown);
}

.search-link:hover,
.search-link:focus {
  color: #ffffff;
}

.search-link:active {
  opacity: 0.3;
}

/* Form */
.form {
  position: relative;
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.form-search {
  position: absolute;
  top: 0;
  left: 316px;
  width: 568px;
  background-color: var(--basic-white);
  text-align: left;
}

.form-body {
  margin: 0;
  padding: 55px 55px 55px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
}

.form-date {
  width: 346px;
  box-sizing: border-box;
  height: 38px;
  background-color: var(--basic-light-grey);
  padding-left: 14px;
  border: none;
}

.form-item {
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 458px;
  display: flex;
  justify-content: space-between;
}

.form-calendar {
  position: absolute;
  background-image: url("../img/calendar.svg");
  top: 7px;
  right: 8px;
  width: 21px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.humans {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
}

.input-number {
  margin-left: 36px;
  width: 114px;
  box-sizing: border-box;
  height: 38px;
  background-color: var(--basic-light-grey);
  text-align: center;
  border: none;
}

.sign {
  background-color: transparent;
  border: none;
  position: absolute;
}

.minus-adult {
  background-image: url("../img/minus.svg");
  top: 17.5px;
  left: 125px;
  width: 12px;
  height: 3px;
}

.plus-adult {
  background-image: url("../img/plus.svg");
  top: 13.5px;
  left: 200px;
  width: 11px;
  height: 11px;
}

.minus-child {
  background-image: url("../img/minus.svg");
  top: 17.5px;
  right: 88px;
  width: 12px;
  height: 3px;
}

.plus-child {
  background-image: url("../img/plus.svg");
  top: 13.5px;
  right: 15px;
  width: 11px;
  height: 11px;
}

.search-button-form {
  padding: 16px 0 16px 0;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
}

.form-date:hover {
  background-color: var(--basic-grey-light);
}

.form-date:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey-dark);
}

.plus-child:hover,
.plus-adult:hover {
  background-image: url("../img/plus-black.svg");
  border: none;
}

.plus-child:focus,
.plus-adult:focus {
  background-image: url("../img/plus-blue.svg");
  border: none;
}

.minus-child:hover,
.minus-adult:hover {
  background-image: url("../img/minus-black.svg");
  border: none;
}

.minus-child:focus,
.minus-adult:focus {
  background-image: url("../img/minus-blue.svg");
  border: none;
}

.form-calendar:hover {
  background-image: url("../img/calendar-black.svg");
  border: none;
}

.form-calendar:focus {
  background-image: url("../img/calendar-blue.svg");
  border: none;
}

.search-button-form:hover {
  background-color: var(--basic-cyan);
}

.search-button-form:active {
  background-color: var(--basic-azure);
  color: rgba(255, 255, 255,0.3);
  border: none;
}
/* Footer */

.main-footer {
  width: 955px;
  display: fixed;
  z-index: 1;
  margin: -120px auto 0 auto;
  padding: 23px 125px 36px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 21px;
  line-height: 26px;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  list-style: none;
  text-align: center;
  justify-self: center;
}

.social-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 46px;
  background-color: var(--basic-blue);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 700;
  text-align: center;
}

.footer-contacts a {
  display: block;
}

.footer-hashtag {
  padding-bottom: 9px;
}

.footer-copyright {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.footer-copyright a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author {
  margin-right: 8px;
}
/* Catalog */

/* Choice */
.choice {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  background-image: url(../img/rocks-catalog.jpg);
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 217px;
}

.choice-title {
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: 700;
}

.choice-filters {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 26.5px;
}

.choice-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.choice-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 217px;
}

.choice-item {
  background-color: transparent;
  margin-bottom: 25px;
}

.choice-item:nth-child(3n) {
  margin-bottom: 32.5px;
}

.choice-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 39px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.choice-filter-price {
  margin-left: 210px;
  width: 317px;
}

.range-controls {
  position: relative;
  height: 33px;
  background-color: transparent;
}

.range-controls .scale {
  margin-top: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255,0.3);
  Width: 317px;
}

.range-controls .bar {
  width: 50%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 160px;
}

.choice-price {
  position: relative;
  display: flex;
  width: 317px;
  height: 32px;
  text-align: center;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.wrap {
  content: "";
  position: absolute;
  left: 159px;
  top: 5px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.number-to {
  height: 28px;
  background-color: transparent;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.number-from {
  height: 28px;
  background-color: transparent;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-submit-show {
  display: flex;
  justify-content: center;
}

/* Search-results */
.search-results {
  min-height: 86px;
  display: flex;
}

.search-results-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 29px;
}

.search-results-subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-left: 46px;
  margin-top: 31px;
}

.search-results-sorting {
  display: flex;
}

.search-results-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 40px;
  margin-top: 32px;
}

.search-results-item {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
  margin-right: 32px;
}

.item-active {
  color: var(--basic-blue);
  border: none;
  opacity: 1;
}

.search-results-item:focus,
.search-results-item:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.search-results-item:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

.found {
  margin-left: auto;
  margin-top: 40px;
}

.found-list {
  margin: 0;
  padding: 0;
  width: 34px;
  height: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.found-up {
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.found-down {
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

/* Hotel */
.hotels-list {
  list-style: none;
  min-height: 540px;
  margin: 0;
  padding: 0;
}

.hotel-item {
  margin: 0;
  padding: 0;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 4fr 111px;
}

.hotel-item img {
  margin-top: 30px;
  margin-right: 37px;
}

.holel-information {
  margin-top: 30px;
  width: 256px;
  height: 120px;
}

.holel-information h2 {
  margin: 0;
}

.type-of-accommodation {
  width: 116px;
  height: 21px;
}

.hotel-price {
  width: 65px;
}

.price {
  width: 181px;
  display: flex;
  justify-content: start;
}

.hotel-button {
  display: flex;
  justify-content: space-between;
}

.hotel-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-title:focus,
.hotel-title:hover {
  color: var(--basic-blue);
}

.hotel-title:active {
  opacity: 0.3;
}

.type-of-accommodation,
.hotel-price {
  color: var(--basic-light-black);
}

.rating {
  margin-top: 30px;
  width: 111px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star {
  width: 19px;
  height: 17px;
  background-image: url("../img/star.svg");
}

.rating-star {
  margin-left: auto;
}

.hotel-rating {
  margin-bottom: 0;
  text-align: center;
  width: 110px;
  height: 27px;
  background-color: var(--basic-light-grey);
  color: var(--basic-dark-grey);
}

/* Button */
.button {
  font: inherit;
  border: none;
}

.button-submit {
  width: 137px;
  height: 36px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
}

.button-submit:focus,
.button-submit:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-info {
  border: none;
  text-transform: uppercase;
  width: 110px;
  height: 27px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 700;
}

.button-info:focus,
.button-info:hover {
  background-color: var(--basic-cyan);
}

.button-info:active {
  background-color: var(--basic-azure);
  opacity: 0.3;
}

.button-reserve {
  font-weight: 700;
  display: block;
  text-align: center;
  width: 142px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: var(--basic-brown);
}

.button-reserve:active {
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}

.button-info .button-reserve {
  display: flex;
  margin-bottom: 30px;
}

.wrapper {
  margin-right: 73px;
  margin-left: 73px;
}

.footer {
  position: relative;
}
